[submodule "content/bosh"]
	path = content/bosh
	url = git@github.com:dgodd/docs-bosh.git
[submodule "content/buildpacks"]
	path = content/buildpacks
	url = git@github.com:dgodd/docs-buildpacks.git
[submodule "content/deploying-cf"]
	path = content/deploying-cf
	url = git@github.com:dgodd/docs-deploying-cf.git
[submodule "content/cf-cli"]
	path = content/cf-cli
	url = git@github.com:dgodd/docs-cf-cli.git
