<div class="nav-content">
<ul>
{{ $currentNode := . }}
{{ range .Site.Menus.main }}
<li  class="{{ if .HasChildren }}has_submenu{{ end }} {{if ($currentNode.IsMenuCurrent "main" .) }}active{{end}} {{if ($currentNode.HasMenuCurrent "main" .) }}expanded{{end}}">
  <a href="{{.URL}}">{{.Name}}</a>
  {{ if and .HasChildren (or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)) }}
    <ul>
      {{ range .Children }}
        {{ if ne .Identifier ""}}
          <li  class="{{ if .HasChildren }}has_submenu{{ end }} {{if ($currentNode.IsMenuCurrent "main" .) }}active{{end}} {{if ($currentNode.HasMenuCurrent "main" .) }}expanded{{end}}">
            <a href="{{.URL}}">{{.Name}}</a>
            {{ if and .HasChildren (or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)) }}
              <ul>
                {{ range .Children }}
                  {{ if ne .Identifier ""}}
                    <li  class="{{ if .HasChildren }}has_submenu{{ end }} {{if ($currentNode.IsMenuCurrent "main" .) }}active{{end}} {{if ($currentNode.HasMenuCurrent "main" .) }}expanded{{end}}">
                      <a href="{{.URL}}">{{.Name}}</a>
                      {{ if and .HasChildren (or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)) }}
                        <ul>
                          {{ range .Children }}
                            {{ if ne .Identifier ""}}
                              <li  class="{{ if .HasChildren }}has_submenu{{ end }} {{if ($currentNode.IsMenuCurrent "main" .) }}active{{end}} {{if ($currentNode.HasMenuCurrent "main" .) }}expanded{{end}}">
                                  <a href="{{.URL}}">{{.Name}}</a>
                              </li>
                            {{ end }}
                          {{ end }}
                        </ul>
                      {{ end }}
                    </li>
                  {{ end }}
                {{ end }}
              </ul>
            {{ end }}
          </li>
        {{ end }}
      {{ end }}
    </ul>
  {{ end }}
</li>
{{ end }}
</ul>
</div>
