<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400italic,400,600' rel='stylesheet' type='text/css'>
  <!-- Use title if it's in the page YAML frontmatter -->
  <title>
      Getting Started Deploying Ruby on Rails Apps |
    Cloud Foundry Docs
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/all.css" rel="stylesheet" media="screen, print" />
  <link href="/stylesheets/print.css" rel="stylesheet" media="print" />
  <link href='/images/favicon.ico' rel='shortcut icon'>

  <script src="/javascripts/all.js"></script>
  <script type="text/javascript">
if (window.location.host === 'docs.cloudfoundry.org') {
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22181585-2']);
  _gaq.push(['_setDomainName', 'cloudfoundry.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
}
</script>

<!-- CrazyEgg Tracking Script -->
<script type="text/javascript">
if (window.location.host === 'docs.cloudfoundry.org') {
  setTimeout(function() {
    var a = document.createElement("script");
    var b = document.getElementsByTagName("script")[0];
    a.src = document.location.protocol + "//script.crazyegg.com/pages/scripts/0020/8294.js?" + Math.floor(new Date().getTime() / 3600000);
    a.async = true;
    a.type = "text/javascript";
    b.parentNode.insertBefore(a, b)
  }, 1);
}
</script>

<script type="text/javascript">
if (window.location.host === 'docs.cloudfoundry.org') {
  (function() {
    var didInit = false;

    function initMunchkin() {
      if (didInit === false) {
        didInit = true;
        Munchkin.init('625-IUJ-009');
      }
    }

    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = document.location.protocol + '//munchkin.marketo.net/munchkin.js';
    s.onreadystatechange = function() {
      if (this.readyState == 'complete' || this.readyState == 'loaded') {
        initMunchkin();
      }
    };
    s.onload = initMunchkin;
    document.getElementsByTagName('head')[0].appendChild(s);
  })();
}
</script>


</head>

<body class="buildpacks buildpacks_ruby buildpacks_ruby_gsg-ror has-subnav">

<div class="viewport">
  <div class='wrap'>
    <script type="text/javascript">
      document.domain = "cloudfoundry.org";
    </script>


  <header class="header header-layout">
    <h1 class="logo">
      <a href="/">Cloud Foundry Documentation</a>
    </h1>

    <div class="header-links js-bar-links">
      <div class="btn-menu" data-behavior="MenuMobile"></div>

      <div class="header-item">
        <a href="https://www.cloudfoundry.org/contribute/" target="_blank">Get Involved</a>
      </div>
      <div class="searchbox header-item">
  <form method="get" action="/search">
    <input name="q" placeholder="Search" class="search-box" />
  </form>
</div>

    </div>
  </header>
  <div class="container">

    <!--googleoff: index-->
    <div id="sub-nav" class="js-sidenav collapsible nav-container" role="navigation" data-behavior="Collapsible">
      <a class="sidenav-title" data-behavior="SubMenuMobile">
        Doc Index
      </a>

      {{ partial "navigation.html" . }}
    </div>

    <!--googleon: index-->

      <main class="content content-layout" id="js-content" role="main">
        <a id="top"></a>

          <h1 class="title-container">{{ .Title }}</h1>


          <div id="js-quick-links" >
            <div class="quick-links">
              {{ .TableOfContents }}
            </div>
          </div>
        <div class="to-top" id="js-to-top">
          <a href="#top" title="back to top"></a>
        </div>
        <p><strong>Page last updated: <span data-behavior="DisplayModifiedDate" data-modified-date="1473198156000"></span></strong></p>

        {{ .Content }}

        <a id='repo-link' href='http://github.com/cloudfoundry/docs-buildpacks/tree/master/ruby/gsg-ror.html.md.erb'>View the source for this page in GitHub</a>

      </main>
    </div>
  </div>
</div>

<div id="scrim"></div>

<div class="container">
  <footer class="site-footer-links">
    <div class="copyright">
  <a href='/'>Cloud Foundry Documentation</a>
  &copy; 2016 <a href='http://cloudfoundry.org'>Cloud Foundry Foundation</a>. All Rights Reserved.
</div>
<div class="support">
  <a href="https://www.cloudfoundry.org/contribute/" target="_blank">Get Involved</a>
</div>

  </footer>
</div><!--end of container-->

</body>
</html>
